*.buildpath
*.project
*.settings
*.sublime-project
*.sublime-workspace
/nbproject
/.idea/
/icons/
/error/
/.vagrant/
/html/
/vendor/
/default/
/index.html
/code/wp-content/plugins
/code/wp-content/cache
/code/wp
/setup/mysql_search.log
